html, body{
  background: #000;
  color: #fff;
}

a{
  color: #fff;
}

a:hover{
  color: #0000ff;
}

.main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}